<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqcst.mapper.CourierMapper">

    <resultMap id="BaseResultMap" type="com.cqcst.entity.Courier">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="CHAR"/>
            <result property="disabled" column="disabled" jdbcType="BIT"/>
            <result property="siteId" column="site_id" jdbcType="INTEGER"/>
            <result property="siteName" column="site_name" jdbcType="CHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,disabled,
        site_id,site_name
    </sql>
</mapper>
