<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqcst.mapper.UserAvatarMapper">

    <resultMap id="BaseResultMap" type="com.cqcst.entity.UserAvatar">
            <id property="id" column="id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,avatar
    </sql>
</mapper>
